<!---Navigation code-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Apana Bazar</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">User : {{logedUserData[0].name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger fixed-right" href="#" (click)="logOut()">Log Out</a>
        </li>
        
      </ul>
    </div>
  </nav>
  <!---Navigation code end here-->

  <!--Dashboard Code Start Here-->
    <section class="row">
        <div class="col-md-2 py-2 bg-light">
          <div class="text-center">
              <img [src]="logedUserData[0].photo" alt="" width="130" height="130" class="rounded-circle borderx ">
          </div>
            <!-- Nav pills -->
           
            <h6 class="py-3 text-primary text-center">
                User  :{{logedUserData[0].name}}
            </h6> <hr>
            <h5 class=" text-primary text-center">
              Dashaboard
          </h5>
            <ul class="nav nav-pills nav-justified flex-column">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#add">
                    <i class="fa fa-plus"></i>
                    Add New Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#select">
                        <i class="fa fa-list"></i>
                        Select Product</a>
                    </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#delete">
                    <i class="fa fa-user"></i>
                    My Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#orders">
                      <i class="fa fa-shopping-bag"></i>
                      Check Orders</a>
                  </li>
            </ul>
        </div>
        <div class="col-md-10 p-4">
          
              <!-- Tab panes -->
            <div class="tab-content">
                <div id="add" class=" tab-pane active">
                    <app-addprod></app-addprod>
                </div>
                <div id="select" class=" tab-pane ">
                  <app-selectprod></app-selectprod>
                </div>
                <div id="delete" class=" tab-pane ">
                  <app-deleteprod></app-deleteprod>
                </div>
                <div id="orders" class=" tab-pane ">
                  <app-place-order></app-place-order>
                </div>
            </div>
            
        </div>
    </section>
  <!--Dashboard Code End here-->
  <!--Footer Code Start Here-->
   <div class="text-center bg-dark text-white p-3">
    
    <p>All Right Are Reserved  @2023-2024 Desegn and Mantained By ArjunDeep</p>
   </div>
  <!--Footer Code End Here-->